[submodule "ubs"]
	path = ubs
	url = git@bitbucket.org:calloway/horserace.git
[submodule "rally"]
	path = rally
	url = git@bitbucket.org:calloway/rally
[submodule "skytree"]
	path = skytree
	url = git@bitbucket.org:calloway/skytree
[submodule "vmware"]
	path = vmware
	url = git@bitbucket.org:calloway/vmware
[submodule "tetris"]
	path = tetris
	url = git@bitbucket.org:calloway/tetris
