<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appender name="STDOUT"
	    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %class - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERROR_LOG"
	    class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>%d %-5level %class - %msg%n</pattern>
    </encoder>
    <File>application_errors.log</File>
  </appender>
    
  <root>
    <level value="info" />
    <appender-ref ref="ERROR_LOG" />
  </root>
</configuration>
